<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>
    <p align="center">&#8226 I am a <strong>post-doctoral researcher</strong> at <a href="http://www.vision.ee.ethz.ch/index.en.html" target="_blank">ETHZ</a> with <a href="http://www.vision.ee.ethz.ch/members/get_member.cgi?id=1" target="_blank">Prof. Van Gool</a>.</p>
    <p align="center">&#8226 I am at the <strong>technical advisory board</strong> of <a href="http://www.vilynx.com/index.html" target="_blank">Vilynx</a>.</p>
    <p align="center">&#8226 I did an internship at <a href="http://www.disneyresearch.com/research-labs/disney-research-zurich/" target="_blank">Disney Research</a>, resulting in two patents.</p>
    <p align="center" class="bottom-three">&#8226 I collaborated with the startup <a href="http://fezoo.cat" target="_blank">Fezoo</a>.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p align="center">&#8226 I have a <strong>PhD</strong> in Computer Vision, supervised by <a href="https://imatge.upc.edu/web/ferran" target="_blank">Prof. Marques</a>.</p>
    <p align="center">&#8226 We created MCG in <a href="http://www.cs.berkeley.edu/~malik/" target="_blank">Prof. Malik</a>’s vision group in <a href="http://www.berkeley.edu" target="_blank">UC Berkeley</a>,<br>supervised by <a href="http://www.cs.berkeley.edu/~arbelaez/index.html" target="_blank">Dr. Arbeláez</a>. It has over 400 citations.</p>
    <p align="center" class="bottom-three">&#8226 I received a <strong>Mathematics</strong> degree, a <strong>Telecommunication</strong><br>engineering degree, and a <strong>Master</strong>´s degree from UPC Barcelonatech</a>.</p>
    
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="80" height="80"></p>
    <p align="center">&#8226 Give me the <strong>STL</strong> library and a <strong>VCS</strong> repository on which to store the <strong>C++</strong> code, and I shall move the world. Or was it about levers? &#12484;</p>
    <p align="center">&#8226 I use <strong>Matlab</strong> and <strong>Python</strong> for fast prototyping and testing.</p>
    <p align="center">&#8226 I cannot sleep at night if I have not committed my code or<br>if I have not done enough <strong>unit tests</strong>.</p>
    <p align="center" class="bottom-three">&#8226 I <a href="http://goo.gl/XbK9qN" target="_blank">build</a> <a href="http://www.vision.ee.ethz.ch/~cvlsegmentation/" target="_blank">awesome</a> <a href="http://davischallenge.org" target="_blank">websites</a> using <strong>Javascript</strong>, <strong>PHP</strong>, <strong>MySQL</strong>, and <strong>D3.js</strong>.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
    <p align="center">&#8226 El <strong>català</strong> és la meva llengua materna.</p>
    <p align="center">&#8226 Hablo <strong>español</strong> como lengua materna.</p>
    <p align="center">&#8226 My <strong>English</strong> is proficient.</p>
    <p align="center">&#8226 Je parle un peu <strong>français</strong>.</p>
    <p align="center" class="bottom-three">&#8226 Ich beginne <strong>Deutsch</strong> zu lernen.</p>
    
    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
